project_name = "ALWaha-Banking"

environment = "dev"

location = "East US"

subscription_id = "YOUR-AZURE-SUBSCRIPTION-ID"
databricks_account_id = "<your-databricks-account-id>"
azure_tenant_id        = "<your-azure-tenant-id>"

tags = {
  project     = "AlWaha-banking"
  environment = "development"
  ManagedBy   = "Terraform"
  Domain      = "Fraud-AML"
}